
<!DOCTYPE html>
<html>
<head>
	<%- include ('layouts/head') %>
</head>
<body>
  
   <%- include ('layouts/left') %>

    <div id="right-panel" class="right-panel" style="background-color: white">
  
     <%- include ('layouts/header') %>
  
  
     <%- body %>
        
        <div class="clearfix"></div>
        
    		<%- include ('layouts/footer') %>
        
    </div>
    

    <%- include ('layouts/script') %>
</body>
</html>
